.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .login-button {
    font-size: 20px;
    color: black;
    height: 10vh;
    display: inline-block;
  }
  
  .movie-icon {
    height: 30vh;
    width: 20vw;
    border-radius: 10%;
  }
  

  .google-icon {
    width: 40px;
    height: 40px;
    vertical-align: middle;
  }

  .button-text {
    vertical-align: middle;
  }

  .left-half {
    flex: 65;
    background-image: url("https://www.vanas.ca/images/blog/vfx-visual-effects-vanas.jpg");
    height: 100vh;

  }
  
  .right-half {
    flex: 35;
    height: 100vh;
  }
  
  .image {
    width: 100vh;
    height: fit-content;
  }
  
  .login-card {
    padding: 20px;
    background-color: black;
    height: 100vh;
    color: white;
    justify-content: center;
    font-size: x-large;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .card-content {
    text-align: center;
  }